<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImpactCount - Make it count!</title>

    {% load static %}
    <link href="{% static 'landingpage/css/output.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'landingpage/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'landingpage/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landingpage/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'landingpage/favicons/site.webmanifest' %}">

</head>
<body class="bg-gray-50">

    <div id="top"></div>

    <section>

        <div class="m-8 lg:m-0 lg:py-10" id="header-menu">
            {% include 'partials/header.html' %}
        </div>

        <div>

            {% block content %}

            {% endblock %}

            <div class="bg-black">
                <div class="lg:mx-auto lg:max-w-7xl">
                    {% include 'partials/footer.html' %}
                </div>
            </div>

        </div>

    </section>

    <script src="{% static 'landingpage/js/header.js' %}" defer></script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
