<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Make it count!</title>

        {% load static %}
        <link href="{% static 'landingpage/css/home.css' %}" rel="stylesheet">
    </head>
    <body>
        <section>
            {% include 'partials/header.html' %}
            {% block content %}
            {% include 'partials/cta.html' %}
            <hr>
            {% include 'partials/about_us.html' %}
            <hr>
            {% include 'partials/faq.html' %}
            <hr>
            {% include 'partials/pricing.html' %}
            <hr>
            {% include 'partials/contact.html' %}
            {% endblock %}
            {% include 'partials/footer.html' %}
        </section>
    </body>
</html>
