<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ImpactCount - Make it count!</title>

        {% load static %}
        <link href="{% static 'landingpage/css/output.css' %}" rel="stylesheet">
    </head>
    <body>
        <section>
            <div class="m-8" id="header-menu">
                {% include 'partials/header.html' %}
            </div>
            <div class="container">
                {% block content %}

                <section id="cta">
                    {% include 'partials/cta.html' %}
                </section>

                {% endblock %}
            </div>
        </section>
        <script src="{% static 'landingpage/js/header.js' %}"></script>
        <script src="{% static 'landingpage/js/cta.js' %}"></script>
    </body>
</html>
