@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;     /* for smaller screens; adjust! */
  }
  @screen sm {
    .container {
      max-width: 768px;
    }
  }
  @screen md {
    .container {
      max-width: 1024px;
    }
  }
  @screen lg {
    .container {
      max-width: 1280px;
    }
  }
  @screen xl {
    .container {
      max-width: 1536px;
    }
  }
  .faq-control {
		@apply flex items-center justify-between;
	}
	.faq-answer {
		@apply hidden;
	}
}
