{% load static %}

<section class="bg-gray-100 p-12" id="about-us">

    <h4 class="text-gray-900 text-xl font-bold uppercase mb-5">
        About us
    </h4>

    <div class="text-gray-900" id="the-concept">
        <p class="text-xl text-justified mb-5">
            ImpactCount is based on a simple idea.
            Employees get to own and leverage their positive reviews and endorsements,
            collected directly from clients and colleagues.
            And employers get to showcase the combined positive impact their team has on clients.
        </p>
        <p class="text-xl text-justified mb-5">
            We believe that when employees control their own positive reviews and endorsements,
            it creates a win-win situation. It strengthens relationships and fosters a motivated work
            environment filled with meaning.
        </p>
        <h5 class="text-xl text-center font-semibold uppercase">
            In short, it's about time we did things this way.
        </h5>
    </div>

</section>
