{% load static %}

<section class="px-12 py-24 bg-gray-700 text-white" id="about-us">

    <h4 class="text-4xl font-bold tracking-widest uppercase mb-12">
        About us
    </h4>

    <div id="the-concept">

        <p class="text-3xl mb-6">
            ImpactCount is based on a simple idea.
            Employees get to own and leverage their positive reviews and endorsements,
            collected directly from clients and colleagues.
            And employers get to showcase the combined positive impact their team has on clients.
        </p>

        <p class="text-3xl mb-12">
            We believe that when employees control their own positive reviews and endorsements,
            it creates a win-win situation. It strengthens relationships and fosters a motivated work
            environment filled with meaning.
        </p>

        <h5 class="text-3xl text-green-500 mb-12">
            In short, it's about time we did things this way.
        </h5>

        <h4 class="text-center text-3xl font-semibold">
            Consider joining our free beta and <span class="text-yellow-500">get a say</span> in the future of employee
            recognition and performance management.
        </h4>

    </div>

</section>
