<section id="about-us">
    <h4>About us</h4>
    <div id="the-concept">
        <h5>The concept</h5>
        <p>
            ImpactCount has a very simple concept with potentially large implications.<br>

            Employees will own the positive reviews and endorsements they receive directly from
            clients and colleagues. Employers can showcase the combined positive impact their
            employees have on clients.<br>

            We believe that giving employees control over their positive reviews and team
            endorsements creates a win-win situation for both parties, fostering stronger
            relationships and a more meaningful, motivated work environment.
        </p>
    </div>

    <div id="the value">
        <h5>The value</h5>
        <p>
            Great reviews are immensely valuable for companies.<br>

            So far, the same value has been largely inaccessible for employees.
            Millions of workers have a huge positive impact on their clients
            every day, while their true client-facing value is not theirs to
            truly leverage. This leads to an over-reliance on career paths and job titles.<br>

            Consider joining to unlock the true value of your achievements or your team's potential.
        </p>
    </div>
</section>
