{% load static %}

<section class="p-12" id="faq">

    <h4 class="text-gray-900 text-xl font-bold uppercase mb-5">
        FAQ
    </h4>

    <h6>What email should I use to sign up?</h6>
    <p>
        If you are an employee looking to collect your impact, then we suggest
        using a personal email - so you would truly own your own positive data.
    </p>
    <p>
        If you are an employer, we suggest using an email matching your company
        domain - while in beta, we do manual company account verifications, but
        will later likely introduce an automated email + domain match checker.
    </p>
    <h6>What will using ImpactCount cost me?</h6>
    <p>
        Our plan is to have a free tier that allows any user by minimum to collect
        and own their positive impact data without paying anything. We will also try
        to gradually introduce beneficial added features which will go under
        a “Plus” account plan + some usage based tools later on.
    </p>
    <h6>How can I get my account verified?</h6>
    <p>
        If you are an employee, your jobs can be verified by your employer when they sign up.
    </p>
    <p>
        If you are an employer, during beta we do manual company verifications
        (based on email and domain match) and plan to later introduce an automated process.
    </p>
    <h6>Why does my public page show “Rejected” statistic cards with a score of 0?</h6>
    <p>
        We are testing an anti-spam and anti-fake request logic where spamming random
        people or companies will leave a public mark on one’s public profile.
        This should limit spam and fake requests. We will likely introduce an automated
        account suspension logic later based on fake and spam requests.
    </p>
    <h6>How do I add a job?</h6>
    <p>
        You can add a job from Settings - My Jobs. If you employer has not joined,
        you can add a company name tied to your job. Once you employer joins, you can
        request them to verify your employment or they can claim you as an employee.
    </p>
    <h6>How do I set up a company profile?</h6>
    <p>
        You have to first set up a personal account. Then you can add a company profile
        from Settings - My Company. Your personal account will have the admin rights for
        the company. Adding additional admin accounts will be added in the future.
    </p>
    <h6>What’s the difference between Earned and Sent impact and Client and Team impact?</h6>
    <p>
        Earned impact is the positive impact you have earned from your clients, colleagues,
        or employers. Sent impact is the impact you have confirmed as a client, a colleague,
        or as an employer (if you have set up a company).
    </p>
    <p>
        Client impact is from clients, team impact is from colleagues or the employer.
    </p>
    <h6>Why is there no text feedback option?</h6>
    <p>
        We are testing a quick way of leaving positive feedback - via giving an impact score
        from 1 to 99 for any positive interactions + a general reason from a preset list.
        We might introduce a text feedback option later.
    </p>
</section>