{% load static %}

<section class="bg-gray-900" id="contact">

    <div class="lg:mx-auto lg:max-w-7xl text-white font-sans px-12 py-24 lg:py-36">

        <div class="text-3xl text-center font-semibold pb-24 lg:pb-32">
            <h4>
                During beta, you can reach us via email
            </h4>
        </div>

        <div class="text-3xl lg:text-2xl mb-12">
            <p class="font-medium mb-4 text-blue-500">Suggestions:</p>
            <p>example@example.xyz</p>
        </div>

        <div class="text-3xl lg:text-2xl mb-12">
            <p class="font-medium mb-4 text-red-500">Bugs and other issues:</p>
            <p>example@example.xyz</p>
        </div>

        <div class="text-3xl lg:text-2xl mb-12">
            <p class="font-medium mb-4 text-green-500">Company profile verification:</p>
            <p>example@example.xyz</p>
        </div>

        <div class="text-3xl lg:text-2xl">
            <p class="font-medium mb-4 text-yellow-500">Account data requests:</p>
            <p>example@example.xyz</p>
        </div>

    </div>

</section>