<section id="employee-content">
    <h6> If you're an employee</h6>
    <h4>
        Unlock the value of your positive client reviews and team endorsements.<br>
        Join now and make your impact count!
    </h4>
    <button type="button">Sign up</button>
    <h4>Why:</h4>
    <p>
        Great reviews mean more revenue for companies. Employees are missing out on that value.<br>

        With ImpactCount, you can own and leverage every positive client review and team endorsement.
        And don't worry about your employer – when they sign up and verify your employment,
        your positive impact will be showcased on their page too.<br>

        P.S. As AI will play a bigger role in HR and recruitment,
        having a strong online presence with positive performance
        can set you apart from the competition.
    </p>
</section>

<section id="employer-content">
    <h6> If you're an employer</h6>
    <h4>
        Unlock the potential of your employees and improve retention.
    </h4>
    <button type="button">Sign up</button>
    <h4>Why:</h4>
    <p>
        Lack of purpose and appreciation will lead to disengagement and turnover.<br>

        With ImpactCount, your employees can proudly own their positive client reviews
        and team endorsements, improving retention and motivation. Their accomplishments
        will also be showcased on your company profile.
    </p>
</section>

<section id="unified-emp">
    <p>
        Join our free beta and get a say in the future of employee
        recognition and performance management.
    </p>
</section>