{% load static %}

<div class="font-sans" id="tab-container">

    <div class="tab-buttons inline-flex w-full">
        <button data-target="employee" class="tab-button inline-flex items-center justify-center w-full bg-gray-900 text-white p-4 text-2xl tracking-widest uppercase font-semibold focus:z-10 active">If you're an employee</button>
        <button data-target="employer" class="tab-button -ml-px inline-flex items-center justify-center w-full bg-gray-50 text-gray-900 p-4 text-2xl tracking-widest uppercase font-semibold focus:z-10">If you're an employer</button>
    </div>

    <section id="employee-content" class="tab-content text-white bg-gray-900 p-12">
        <h2 class="text-4xl text-center font-bold tracking-widest mb-12">
            Unlock the value of your positive client reviews and team endorsements
        </h2>
        <div class="flex flex-col items-center mb-8">
            <h4 class="bg-blue-700 p-3 text-3xl text-white text-center font-semibold tracking-widest uppercase inline-block">
                Join now and make your impact count!
            </h4>
        </div>
        <div class="flex items-center justify-center">
            <a href="#" class="rounded-md bg-blue-700 px-3.5 py-2.5 text-3xl font-semibold tracking-widest text-white">Sign up</a>
        </div>
        <div class="mt-12">
            <h4 class="text-2xl font-semibold tracking-wide uppercase mb-5">Why:</h4>
            <p class="text-2xl font-semibold text-justify tracking-wide mb-5">
                Great reviews mean more revenue for companies. Employees are missing out on that value.
            </p>
            <p class="text-2xl font-semibold text-justify tracking-wide">
                With ImpactCount, you can own and leverage every positive client review and team endorsement.
                And don't worry about your employer – when they sign up and verify your employment,
                your positive impact will be showcased on their page too.
            </p>
        </div>
    </section>

    <section id="employer-content" class="tab-content bg-gray-900 text-white p-12 hidden">
        <h2 class="text-4xl text-center font-bold tracking-widest mb-12">
            Unlock the potential of your employees + improve motivation & retention
        </h2>
        <div class="flex flex-col items-center mb-8">
            <h4 class="bg-blue-700 p-3 text-3xl text-center text-white font-semibold tracking-widest uppercase inline-block">
                Join now and make your impact count!
            </h4>
        </div>
        <div class="flex items-center justify-center">
            <a href="#" class="rounded-md bg-blue-700 px-3.5 py-2.5 text-3xl font-semibold tracking-widest text-white">Sign up</a>
        </div>
        <div class="mt-12">
            <h4 class="text-2xl font-semibold uppercase tracking-wide mb-5">Why:</h4>
            <p class="text-2xl font-semibold text-justify tracking-wide mb-5">
                Lack of purpose and appreciation will lead to disengagement and turnover.<br>
            </p>
            <p class="text-2xl font-semibold text-justify tracking-wide">
                With ImpactCount, your employees can proudly own their positive client reviews
                and team endorsements, improving retention and motivation. Their accomplishments
                will also be showcased on your company profile.
            </p>
        </div>
    </section>

</div>

<!--<section id="unified-emp" class="bg-gray-100 p-12">-->
<!--    <h4 class="text-center text-2xl font-semibold text-gray-900">-->
<!--        Join our free beta and get a say in the future of employee-->
<!--        recognition and performance management.-->
<!--    </h4>-->
<!--</section>-->