{% load static %}

<section class="bg-white font-sans" id="faq">

    <div class="lg:mx-auto lg:max-w-7xl px-12 py-24 lg:pt-32 lg:pb-36">

        <div>
            <h2 class="text-4xl lg:text-3xl font-bold text-gray-700 tracking-widest uppercase mb-12">FAQ</h2>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-0" aria-expanded="false">
                What email should I use to sign up?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-0">
                <p class="mt-4">
                    If you are an employee looking to collect your impact, then we suggest
                    using a personal email - so you would truly own your own positive data.
                </p>

                <p class="mt-4">
                    If you are an employer, we suggest using an email matching your company
                    domain - while in beta, we do manual company account verifications, but
                    will later likely introduce an automated email + domain match checker.
                </p>
            </div>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-1" aria-expanded="false">
                What will using ImpactCount cost me?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-1">
                <p class="mt-4">
                    Our plan is to have a free tier that allows any user by minimum to collect
                    and own their positive impact data without paying anything. We will also try
                    to gradually introduce beneficial added features which will go under
                    a “Plus” account plan + some usage based tools later on.
                </p>
            </div>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-2" aria-expanded="false">
                How can I get my account verified?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-2">
                <p class="mt-4">
                    If you are an employee, your jobs can be verified by your employer when they sign up.
                </p>

                <p class="mt-4">
                    If you are an employer, during beta we do manual company verifications
                    (based on email and domain match) and plan to later introduce an automated process.
                </p>
            </div>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-3" aria-expanded="false">
                What are the “Rejected” stats on profiles?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-3">
                <p class="mt-4">
                    We are testing an anti-spam and anti-fake request logic where spamming random
                    people or companies will leave a public mark on one’s public profile.
                    This should limit spam and fake requests. We will likely introduce an automated
                    account suspension logic later based on fake and spam requests.
                </p>
            </div>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-4" aria-expanded="false">
                How do I add a job?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-4">
                <p class="mt-4">
                    You can add a job from Settings - My Jobs. If your employer has not joined,
                    you can add a company name tied to your job. Once you employer joins, you can
                    request them to verify your employment, or they can claim you as an employee.
                </p>
            </div>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-5" aria-expanded="false">
                How do I set up a company profile?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-5">
                <p class="mt-4">
                    You have to first set up a personal account. Then you can add a company profile
                    from Settings - My Company. Your personal account will have the admin rights for
                    the company. Adding additional admin accounts will be added in the future.
                </p>
            </div>
        </div>

        <div class="faq-item mb-12">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-6" aria-expanded="false">
                What are Earned, Sent, Client, and Team impact?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-6">
                <p class="mt-4">
                    Earned impact is the positive impact you have earned from your clients, colleagues,
                    or employers. Sent impact is the impact you have confirmed as a client, a colleague,
                    or as an employer (if you have set up a company).
                </p>

                <p class="mt-4">
                    Client impact is from clients, team impact is from colleagues or the employer.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <button type="button" class="faq-question faq-control text-gray-900 font-medium text-3xl lg:text-2xl tracking-wider flex items-start justify-between" aria-controls="faq-answer-7" aria-expanded="false">
                Why is there no text feedback option?
                <span class="faq-icon ml-2">
                    <img class="h-8 w-8" src="{% static 'landingpage/img/plus.svg' %}" alt="Expand FAQ"
                         data-plus-img="{% static 'landingpage/img/plus.svg' %}"
                         data-minus-img="{% static 'landingpage/img/minus.svg' %}">
                </span>
            </button>
            <div class="faq-answer text-gray-700 mt-4 text-3xl lg:text-2xl tracking-wider" id="faq-answer-7">
                <p class="mt-4">
                    We are testing a quick way of leaving positive feedback - via giving an impact score
                    from 1 to 99 for any positive interactions + a general reason from a preset list.
                    We might introduce a text feedback option later.
                </p>
            </div>
        </div>

    </div>

</section>