{% load static %}

<section class="bg-black text-white px-12 py-24" id="footer">

    <div class="mb-12">
        <a href="#top">
            <img class="h-14 w-auto" src="{% static 'landingpage/img/lgwhite.svg' %}" alt="ImpactCount">
        </a>
    </div>

    <div class="text-3xl mb-12">
        <p>Terms & Conditions</p>
    </div>

    <div class="text-3xl mb-12">
        <a href="/privacy">Privacy Policy</a>
    </div>

    <div class="text-3xl mb-12">
        <p>Account Data Requests</p>
    </div>

    <div class="text-3xl mb-12">
        <p>Cookies</p>
    </div>

    <div class="text-3xl mb-24">
        <p>Sitemap</p>
    </div>

    <div class="text-2xl text-center">
        <p>©2023 ImpactCount</p>
    </div>

</section>