{% load static %}

<section class="bg-gray-900" id="pricing">

    <div class="lg:mx-auto lg:max-w-7xl p-24 lg:py-36 font-sans tracking-wide">

        <div>
            <h2 class="text-4xl lg:text-3xl font-sans font-bold text-white text-center tracking-widest mb-12">
                No pricing plans<br>
                while we are in <span class="text-blue-500">beta</span>
            </h2>
        </div>

        <p class="text-white text-3xl lg:text-2xl text-center font-semibold mb-12">
            We will be running the free beta test for a while.<br>
            And after that we do intend to have a <span class="text-green-500">free Core</span> plan -<br>
            To make sure that Your valuable performance data is freely & truly
            <span class="text-indigo-400">Yours</span> to leverage.
        </p>

        <p class="text-white text-3xl lg:text-2xl text-center font-semibold">
            Any additional useful features under Plus plans: <span class="text-yellow-500">TBA</span>
        </p>

    </div>

</section>